/* font */
.fira-sans-thin {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: normal;
}

.fira-sans-extralight {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: normal;
}

.fira-sans-light {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.fira-sans-regular {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.fira-sans-medium {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.fira-sans-semibold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: normal;
}

.fira-sans-bold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.fira-sans-extrabold {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: normal;
}

.fira-sans-black {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.fira-sans-thin-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 100;
  font-style: italic;
}

.fira-sans-extralight-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 200;
  font-style: italic;
}

.fira-sans-light-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
}

.fira-sans-regular-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.fira-sans-medium-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 500;
  font-style: italic;
}

.fira-sans-semibold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 600;
  font-style: italic;
}

.fira-sans-bold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 700;
  font-style: italic;
}

.fira-sans-extrabold-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 800;
  font-style: italic;
}

.fira-sans-black-italic {
  font-family: "Fira Sans", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* if i want to take the element vartically align i need to  search there parent and update in the parent align-element  */


/* Nav style */
nav{
    display: flex; 
    /* vartical center */
    align-items: center;
    /* Horijontan gap */
    justify-content: space-between;
    /* parent must be margined */
    margin: 31px 160px;  
}
.title{
    font-weight: bold;
    font-size: 32px;
}
nav ul li{
    list-style: none;
}
nav li a{
    text-decoration: none;
}
.btn-primary{
   color: #006A50;
   font-size: 18px;
   font-weight: 600;
   padding: 15px 30px;
   border-radius: 8px;
   border-color: #006A50;
}

/* Banner part */
.banner{
    background-color: #C6E4D6;
    /* margin-top: 20px; */
    margin: 0px 160px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    

}
.banner-contain{
    max-width: 622px;
    margin: 0px 64px 0px 59.99px;
    /* max-height: 326px; */
    /* margin: 117px 64px 117px 59.99px; */
}
.btn-banner{
    background-color: #006A50;
    color: white;
    font-size: 18px;
    font-weight: bold;
    padding: 17px 34px;
    border-radius: 8px;
    border: none;
}
.btn-banner-link{
    text-align: center;
    text-decoration: none;
}
.banner-main{
    font-size: 24px;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}
.banner-title{
    font-size: 56px;
    font-weight: bold;
    color: #0E0E0E;
}
.banner-image{
    width: 474.03px;
    height: 400px;
    margin: 80px 59.99px 80px 64px;
}

/* main sections */
main{
  max-width: 1280px;
  /* margin: 0 auto; */
}
/* section: pillers */
.pillers{
   margin: 80px 160px;
}
.piller-intro{
    font-size: 40px;
    /* font-weight: bold; */
}
.piller-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 24px;
   
}
.piller-1{
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    max-width: 302px ;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
}
.piller-2{
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    max-width: 302px ;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
}
.piller-3{
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    max-width: 302px ;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;
}
.piller-4{
    background-color: #FFFFFF;
    border-radius: 16px;
    border: 1px solid rgba(14, 14, 14, 0.15);
    max-width: 302px ;
    padding-left: 24px;
    padding-top: 24px;
    padding-right: 24px;;
}
.piller-title{
  font-size: 20px;
  font-weight: bolder;
}
.piller-detail{
  font-size: 18px;
  font-weight: 400;
  color: #0E0E0E;
}
